<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.jsf</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>afternoon</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>otf</extension>
        <mime-type>font/opentype</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/x-font-ttf</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/x-font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/x-font-woff2</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>    
    <servlet-mapping>
        <servlet-name>MQP Login Servlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>mqp</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <servlet>
        <servlet-name>ServletAutenticador</servlet-name>
        <servlet-class>br.com.bb.customizacao.servlets.ServletAutenticador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MQP Login Servlet</servlet-name>
        <servlet-class>br.com.bb.uop.geadesp.mqp.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAutenticador</servlet-name>
        <url-pattern>/servlet/br.com.bb.customizacao.servlets.ServletAutenticador</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletEncerraSessao</servlet-name>
        <servlet-class>br.com.bb.customizacao.servlets.ServletEncerraSessao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEncerraSessao</servlet-name>
        <url-pattern>/servlet/br.com.bb.customizacao.servlets.ServletEncerraSessao</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletFornecedorSessaoGTR</servlet-name>
        <servlet-class>br.com.bb.customizacao.servlets.ServletFornecedorSessaoGTR</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFornecedorSessaoGTR</servlet-name>
        <url-pattern>/servlet/br.com.bb.customizacao.servlets.ServletFornecedorSessaoGTR</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletUsuariosLogados</servlet-name>
        <servlet-class>br.com.bb.customizacao.servlets.ServletUsuariosLogados</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsuariosLogados</servlet-name>
        <url-pattern>/servlet/br.com.bb.customizacao.servlets.ServletUsuariosLogados</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>paginas/ServletPaginaErro</servlet-name>
        <servlet-class>br.com.bb.customizacao.servlets.paginas.ServletPaginaErro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>paginas/ServletPaginaErro</servlet-name>
        <url-pattern>/servlet/br.com.bb.customizacao.servlets.paginas.ServletPaginaErro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>paginas/ServletPaginaInicial</servlet-name>
        <servlet-class>br.com.bb.customizacao.servlets.paginas.ServletPaginaInicial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>paginas/ServletPaginaInicial</servlet-name>
        <url-pattern>/servlet/br.com.bb.customizacao.servlets.paginas.ServletPaginaInicial</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>paginas/ServletPaginaInicialIntranet</servlet-name>
        <servlet-class>br.com.bb.customizacao.servlets.paginas.ServletPaginaInicialIntranet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>paginas/ServletPaginaInicialIntranet</servlet-name>
        <url-pattern>/servlet/br.com.bb.customizacao.servlets.paginas.ServletPaginaInicialIntranet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>paginas/ServletPaginaInicialExtranet</servlet-name>
        <servlet-class>br.com.bb.customizacao.servlets.paginas.ServletPaginaInicialExtranet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>paginas/ServletPaginaInicialExtranet</servlet-name>
        <url-pattern>/servlet/br.com.bb.customizacao.servlets.paginas.ServletPaginaInicialExtranet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletFornecedorUsuarioVO</servlet-name>
        <servlet-class>br.com.bb.customizacao.servlets.ServletFornecedorUsuarioVO</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFornecedorUsuarioVO</servlet-name>
        <url-pattern>/servlet/br.com.bb.customizacao.servlets.ServletFornecedorUsuarioVO</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletFornecedorObjetoRemoto</servlet-name>
        <servlet-class>br.com.bb.customizacao.servlets.ServletFornecedorObjetoRemoto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFornecedorObjetoRemoto</servlet-name>
        <url-pattern>/servlet/br.com.bb.customizacao.servlets.ServletFornecedorObjetoRemoto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletDirecionadorParametros</servlet-name>
        <servlet-class>br.com.bb.customizacao.servlets.ServletDirecionadorParametros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDirecionadorParametros</servlet-name>
        <url-pattern>/servlet/br.com.bb.customizacao.servlets.ServletDirecionadorParametros</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/errors/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errors/500.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/errors/NullPointerException.html</location>
    </error-page>    
    
    
    <filter>
        <filter-name>filtroSeguranca</filter-name>
        <filter-class>br.com.bb.autorizacao.FiltroSeguranca</filter-class>
        <init-param>
            <description>Gerencia sessaoGTR e disponibiliza na sessao com o nome sessaoGTR</description>
            <param-name>usaSessaoGTR</param-name>
            <param-value>sim</param-value>
        </init-param>
        <init-param>
            <description>Tempo para timeOut da sessao do login: alta 10 min, media 30 min, baixa 60 min</description>
            <param-name>restricao</param-name>
            <param-value>alta</param-value>
        </init-param>
        <init-param>
            <description>Parametro para recuperacao do Usuario na sessao. Se inexistente recuperar com usuarioVO</description>
            <param-name>usuario</param-name>
            <param-value>funci</param-value>
        </init-param>
        <init-param>
            <description>Parametro para recuperacao da sessao GTR.</description>
            <param-name>ftw</param-name>
            <param-value>sessaoFTW</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>filtroSeguranca</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
</web-app>
